@page
@model Parking.Pages.Voitures.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Voiture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Voiture.VoitureId" />
            <div class="form-group">
                <label asp-for="Voiture.Matricule" class="control-label"></label>
                <input asp-for="Voiture.Matricule" class="form-control" />
                <span asp-validation-for="Voiture.Matricule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voiture.Modele" class="control-label"></label>
                <input asp-for="Voiture.Modele" class="form-control" />
                <span asp-validation-for="Voiture.Modele" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voiture.Marque" class="control-label"></label>
                <input asp-for="Voiture.Marque" class="form-control" />
                <span asp-validation-for="Voiture.Marque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voiture.Annee" class="control-label"></label>
                <input asp-for="Voiture.Annee" class="form-control" />
                <span asp-validation-for="Voiture.Annee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
